/* OBRAS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Montserrat";
}

/* Contenedor general */
.page-container {
    max-width: 100%;
    margin: 0 auto;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

/* Hero (Header con imagen de fondo) */
.hero {
    height: 10vh;
    position: relative;
    color: #e2e4e6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Capa oscura sobre la imagen */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Navbar fijo y transparente */
.navbar {
    position: fixed;
    top: 0;
    /* left: 10%; */
    width: 100%;
    /* height: 10vh; */
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
    color: black !important;
    font-weight: bold;
    transition: color 0.3s ease, border 0.3s ease, padding 0.3s ease;
    padding: 10px 15px;
    border: 2px solid transparent;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link:hover {
    color: white !important;
    border-color: rgb(49, 146, 85);
    background-color: rgb(49, 146, 85);
    height: 100%;
}

/* Navbar al hacer scroll */
.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link.active {
    background-color: rgb(49, 146, 85);
    color: white !important;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Estilos para el dropdown-menu (submenú) */
.navbar-nav .dropdown-menu {
    background-color: rgba(49, 146, 85, 0.4);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
}

/* Estilos para los ítems del dropdown-menu */
.navbar-nav .dropdown-item {
    color: black !important;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: 2px solid transparent;
    display: block;
}

/* Efecto hover para los ítems del dropdown-menu */
.navbar-nav .dropdown-item:hover {
    color: white !important;
    background-color: rgb(49, 146, 85);
    border-color: rgb(49, 146, 85);
}

/* Ajustes para el dropdown-toggle (enlace "Productos") */
.navbar-nav .dropdown-toggle::after {
    margin-left: 5px;
    vertical-align: middle;
}

/* Estilo del logo */
.logo img {
    height: 8vh;
}

.obras-gallery .gallery {
    padding: 20px 0;
}

.obra-card {
    margin-bottom: 20px;
}

.card {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 0;
    position: relative;
}

.obra-images {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.obra-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease; /* Transición suave */
    opacity: 0; /* Oculta las imágenes por defecto */
}

.obra-image.active {
    opacity: 1; /* Muestra la imagen activa */
}

.card-title, .card-text, .prev-image, .next-image {
    display: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-section {
    padding: 50px 0;
}

.contact-section h2 {
    color: rgb(49, 146, 85);
    margin-bottom: 20px;
}

.contact-section .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-section .btn-primary {
    background-color: rgb(49, 146, 85);
    border: none;
    transition: background-color 0.3s ease;
}

.contact-section .btn-primary:hover {
    background-color: rgb(39, 126, 75);
}

.footer {
    background-color: rgb(49, 146, 85);
    padding: 20px 20px;
    font-family: Arial, sans-serif;
    margin-top: 50px; /* Separación main footer */
}

/* Outlel */
.outlet-gallery {
    padding-bottom: 50px; /* Espacio entre main y footer */
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-images {
    margin-bottom: 15px;
}

.product-card .btn {
    margin-top: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain; /* Ajuste para mantener la proporción */
}

/* Footer */
.footer {
    position: relative;
    background-color: rgb(49, 146, 85);
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Capa negra semi-transparente */
    z-index: 0; /* Capa detrás del contenido */
}

.footer * {
    position: relative;
    z-index: 1; /* Mantiene el texto y otros elementos sobre la capa negra */
}


.footer .container {
    padding: 0;
}

.footer .row {
    align-items: center;
}

.footer .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer img {
    max-height: 15vh;
    width: auto;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer a:hover {
    color: black;
}

/* Estilos para iconos sociales */
.footer .bi {
    font-size: 1.5rem;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
}

.footer .bi:hover {
    transform: scale(1.2);
}

.footer hr {
    margin: 20px 0;
    border-color: rgba(255, 255, 255, 0.2);
}

.footer p {
    margin: 5px 0;
}

.footer .text-center {
    margin-top: 10px;
}

/* Pagina Aberturas de aluminio */

.aluar-lines {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas */
    padding: 20px;
}

/* Título principal */
/* .aluar-lines h3 {
    text-align: center;
    color: #2db7f7;
    margin-bottom: 20px;
} */

/* Contenedor de cards en columnas */
.lines-container {
    display: grid; /* Cambio importante */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 20px; /* Espacio entre columnas */
}

/* Estilos de las cards */
.line-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px; /* Ancho de cada tarjeta */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s;
    background-color: white;
}

.line-card:hover {
    transform: scale(1.05);
}

.line-card img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.line-card h4 {
    margin: 0;
    color: #333;
    text-align: center;
}

.line-card p {
    margin: 5px 0 0;
    color: #666;
    text-align: center;
    font-size: 14px;
}

/* Estilos para las imágenes en las tarjetas */
.obra-images {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.obra-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.obra-image.active {
    opacity: 1;
}

/* Estilos para el carrusel del modal */
#obraModalCarousel {
    background-color: #f8f9fa;
}

#obraModalCarousel .carousel-item {
    height: 400px; /* Ajusta según necesites */
}

#obraModalCarousel .carousel-item img {
    height: 100%;
    object-fit: contain;
}

/* Estilos para los indicadores */
#carouselIndicators {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

#carouselIndicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
}

#carouselIndicators button.active {
    background-color: #007bff;
}

/* Estilos para las tarjetas */
.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Estilos para la información en el modal */
.obra-info {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}